[submodule "masterzen_tutorial_pcb_design/shared/MX_Alps_Hybrid"]
	path = masterzen_tutorial_pcb_design/shared/MX_Alps_Hybrid
	url = https://github.com/ai03-2725/MX_Alps_Hybrid.git
[submodule "masterzen_tutorial_pcb_design/shared/Type-C.pretty"]
	path = masterzen_tutorial_pcb_design/shared/Type-C.pretty
	url = https://github.com/ai03-2725/Type-C.pretty.git
[submodule "masterzen_tutorial_pcb_design/shared/random-keyboard-parts.pretty"]
	path = masterzen_tutorial_pcb_design/shared/random-keyboard-parts.pretty
	url = https://github.com/ai03-2725/random-keyboard-parts.pretty.git
